In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans:-A database is a collection of organized data that is structured in a way that enables efficient storage, retrieval, 
and management of information. Databases are used to store and manage large amounts of data for a variety of applications 
and industries.

SQL and NoSQL databases are two different types of database management systems that differ in how they organize and store
data. Here are some of the key differences:

1.Data model: SQL databases use a relational data model, which means that data is organized into tables with predefined 
relationships between them. NoSQL databases use a non-relational data model, which means that data is stored in a more 
flexible and dynamic way, such as key-value pairs or documents.

2Scalability: NoSQL databases are designed to be more scalable than SQL databases, particularly for large-scale 
distributed systems. This is because NoSQL databases are designed to handle large volumes of unstructured or 
emi-structured data, while SQL databases are better suited for managing structured data.

3.Query language: SQL databases use the SQL language to interact with the database, which is a standardized language for
managing relational databases. NoSQL databases do not have a standardized query language, and instead use proprietary or
custom query languages.

4.ACID compliance: SQL databases are typically designed to ensure that data is consistent and accurate, using the 
principles of ACID (atomicity, consistency, isolation, durability). NoSQL databases do not necessarily follow these 
principles, and instead may prioritize other characteristics like high availability or partition tolerance.

5.In summary, SQL databases are better suited for applications that require strong consistency and well-defined
relationships between data, while NoSQL databases are better suited for applications that require high scalability,
flexibility, and performance with large volumes of unstructured or semi-structured data.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans:-DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and
modify the structure of a database. DDL statements are used to create, modify, and delete database objects like tables,
indexes, and constraints.

Here are some examples of commonly used DDL statements and their purposes:

1.CREATE: This statement is used to create a new database object, such as a table, index, or view. For example, the 
  following statement creates a new table called "employees" with three columns:

CREATE TABLE employees (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   salary DECIMAL(10,2)
);

 2. DROP: This statement is used to delete an existing database object. For example, the following statement drops the 
    "employees" table:

   DROP TABLE employees;

3. ALTER: This statement is used to modify the structure of an existing database object. For example, the following 
   statement adds a new column called "age" to the "employees" table:

    ALTER TABLE employees ADD age INT;

4.TRUNCATE: This statement is used to remove all data from an existing table. For example, the following statement
   removes all data from the "employees" table:
    
  TRUNCATE TABLE employees;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans:- DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate 
     and interact with data in a database. DML statements are used to insert, update, and delete data in database tables.

Here are some examples of commonly used DML statements and their purposes:

1.INSERT: This statement is used to insert new data into a table. For example, the following statement inserts a new row
  into the "employees" table:
        
INSERT INTO employees (id, name, salary) VALUES (1, 'John Smith', 50000);

2.UPDATE: This statement is used to modify existing data in a table. For example, the following statement updates the 
   salary of the employee with ID 1 in the "employees" table:
        
   UPDATE employees SET salary = 55000 WHERE id = 1;

3.DELETE: This statement is used to remove data from a table. For example, the following statement deletes the employee
  with ID 1 from the "employees" table:
        
   DELETE FROM employees WHERE id = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
Ans:- DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to query and retrieve
     data from a database. DQL statements are used to select and filter data from database tables.

Here is an example of a commonly used DQL statement:

1.SELECT: This statement is used to select and retrieve data from one or more tables. For example, the following statement
  retrieves data from the "employees" table:
        
SELECT * FROM employees;
SELECT name, salary FROM employees;
SELECT * FROM employees WHERE salary > 50000;

In [ ]:
Q5. Explain Primary Key and Foreign Key in mysql
Ans:-a primary key is a column or group of columns in a table that uniquely identifies each row in that table. A primary
   key is used to enforce data integrity by ensuring that each row in the table is unique and can be identified by its 
   primary key value.

  A foreign key, on the other hand, is a column or group of columns in one table that refers to the primary key of 
    another table. The foreign key is used to create a relationship between the two tables, and it ensures that the data in the referencing table (the one with the foreign key) is consistent with the data in the referenced table (the one with the primary key).

For example, consider two tables: "employees" and "departments". The "employees" table has a primary key of "employee_id",\
while the "departments" table has a primary key of "department_id". The "employees" table also has a foreign key of 
"department_id" that refers to the "department_id" column in the "departments" table. This relationship ensures that each
employee is assigned to a valid department:
    
CREATE TABLE departments (
  department_id INT PRIMARY KEY,
  department_name VARCHAR(50)
);

CREATE TABLE employees (
  employee_id INT PRIMARY KEY,
  employee_name VARCHAR(50),
  department_id INT,
  FOREIGN KEY (department_id) REFERENCES departments(department_id)
);

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans:- Below is python code to connect Mysql to python
#Importing mysql in python
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
)

mycursor = mydb.cursor()

1.cursor():-The cursor() method creates a cursor object that allows us to execute SQL queries and fetch the results.
           The cursor maintains a connection to the database and acts as a handle for the results of the queries.

2.execute():- The execute() method of the cursor is used to execute a SQL query. It takes a string as an argument that
  contains the SQL query to be executed. When the query is executed, the cursor returns the result set, which can be
  fetched using various methods such as fetchone(), fetchall(), or fetchmany().

In [ ]:
Ans:- the clauses are executed in the following order:

1.SELECT - This clause specifies the columns to be retrieved from the database.
2.FROM - This clause specifies the tables from which the data is retrieved.
JOIN - This clause is used to combine rows from two or more tables based on a related column between them.
WHERE - This clause is used to filter the rows returned by the query based on a condition.
GROUP BY - This clause is used to group the rows by one or more columns, often used in conjunction with aggregate functions like COUNT, SUM, AVG, etc.
HAVING - This clause is used to filter the groups returned by the GROUP BY clause based on a condition.
ORDER BY - This clause is used to sort the rows returned by the query based on one or more columns.
LIMIT - This clause is used to limit the number of rows returned by the query.

It's important to note that not all SQL queries contain all of these clauses, and the order of the clauses can sometimes
be rearranged without affecting the results. However, in general, the clauses are executed in the order listed above.